{% load static wagtailcore_tags wagtailuserbar menus_tags%}

{%  get_menu "main" as navigation %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://kit.fontawesome.com/68fad2eb73.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/kateneblog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        
        <script src="https://kit.fontawesome.com/68fad2eb73.js" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        {# favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        
        {% wagtailuserbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Katene</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        
                        {% for item in navigation.menu_items.all %}
                            {% with url_name=request.resolver_match.url_name %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == item.link %}active{% endif %}" href={{item.link}} {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{item.title}}</a>
                                </li>
                            {% endwith %}
                        {% endfor %}
                        
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>


        <div class="container-fluid">
                {% block content %}{% endblock %}
        </div>


        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center ">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="{% static 'images/favicon-32x32.png' %}" alt="letter K">
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Katene's Blog</span>
            </div>


            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                {% if settings.site_settings.SocialMediaSettings.facebook %}
                    <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" target="_blank">
                        <i class="fa-2x fa-brands fa-facebook"></i>
                    </a>
                {% endif %}
            </li>
            <li class="ms-3">
                {% if settings.site_settings.SocialMediaSettings.instagram %}
                    <a href="{{ settings.site_settings.SocialMediaSettings.instagram }}" target="_blank">
                        <i class="fa-2x fa-brands fa-instagram"></i>
                    </a>
                {% endif %}
            </li>
            <li class="ms-3">
                {% if settings.site_settings.SocialMediaSettings.linkedin %}
                <a href="{{ settings.site_settings.SocialMediaSettings.linkedin }}" target="_blank">
                    <i class="fa-2x fa-brands fa-linkedin"></i>
                </a>
                {% endif %}
            </li>
            <li class="ms-3">
                {% if settings.site_settings.SocialMediaSettings.github %}
                <a href="{{ settings.site_settings.SocialMediaSettings.github }}" target="_blank">
                    <i class="fa-2x fa-brands fa-github"></i>
                </a>
                {% endif %}
            </li>
            </ul>

        </footer>





        {# Global javascript #}

        <script type="text/javascript" src="{% static 'js/kateneblog.js' %}"></script>


        {% block extra_js %}

        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
