{% load wagtailcore_tags %}

    <div class="row my-2">
        <div class="col-lg-6">
            <div class="card card text-white bg-primary mb-3" >
                <div class="card-header">{{ self.title }}</div>
                <div class="card-body">
                    <h3 class="card-title">{{ self.subtitle }}</h4>
                    <p class="card-text">{{ self.text|richtext }}</p>
                    {% if self.url %}
                        <a href="{{self.url}}"><button class="btn btn-light" type="button">{{self.button_text}}</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>